In [2]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import warnings
warnings.filterwarnings("ignore")
from sklearn.preprocessing import LabelEncoder,StandardScaler,MinMaxScaler,RobustScaler

In [3]:
data = pd.read_csv('/content/Metro-Traffic-Volume.csv')

In [4]:
data.head()

  holiday    temp  rain_1h  ...  weather_main  weather_description  traffic_volume
0    None  288.28      0.0  ...        Clouds     scattered clouds            5545
1    None  289.36      0.0  ...        Clouds        broken clouds            4516
2    None  289.58      0.0  ...        Clouds      overcast clouds            4767
3    None  290.13      0.0  ...        Clouds      overcast clouds            5026
4    None  291.14      0.0  ...        Clouds        broken clouds            4918

[5 rows x 11 columns]

In [5]:
data.tail()

      holiday    temp  ...     weather_description  traffic_volume
48199    None  283.45  ...           broken clouds            3543
48200    None  282.76  ...         overcast clouds            2781
48201    None  282.73  ...  proximity thunderstorm            2159
48202    None  282.09  ...         overcast clouds            1450
48203    None  282.12  ...         overcast clouds             954

[5 rows x 11 columns]

In [6]:
le =LabelEncoder()

In [7]:
Holiday_labels = le.fit_transform(data['holiday'])

In [8]:
{index: label for index , label in enumerate(le.classes_)}

{0: 'Christmas Day',
 1: 'Columbus Day',
 2: 'Independence Day',
 3: 'Labor Day',
 4: 'Martin Luther King Jr Day',
 5: 'Memorial Day',
 6: 'New Years Day',
 7: 'None',
 8: 'State Fair',
 9: 'Thanksgiving Day',
 10: 'Veterans Day',
 11: 'Washingtons Birthday'}

In [9]:

weather_main = le.fit_transform(data['weather_main'])

In [10]:
{index: label for index , label in enumerate(le.classes_)}

{0: 'Clear',
 1: 'Clouds',
 2: 'Drizzle',
 3: 'Fog',
 4: 'Haze',
 5: 'Mist',
 6: 'Rain',
 7: 'Smoke',
 8: 'Snow',
 9: 'Squall',
 10: 'Thunderstorm'}

In [11]:
weather_description = le.fit_transform(data['weather_description'])

In [12]:
{index: label for index , label in enumerate(le.classes_)}

{0: 'SQUALLS',
 1: 'Sky is Clear',
 2: 'broken clouds',
 3: 'drizzle',
 4: 'few clouds',
 5: 'fog',
 6: 'freezing rain',
 7: 'haze',
 8: 'heavy intensity drizzle',
 9: 'heavy intensity rain',
 10: 'heavy snow',
 11: 'light intensity drizzle',
 12: 'light intensity shower rain',
 13: 'light rain',
 14: 'light rain and snow',
 15: 'light shower snow',
 16: 'light snow',
 17: 'mist',
 18: 'moderate rain',
 19: 'overcast clouds',
 20: 'proximity shower rain',
 21: 'proximity thunderstorm',
 22: 'proximity thunderstorm with drizzle',
 23: 'proximity thunderstorm with rain',
 24: 'scattered clouds',
 25: 'shower drizzle',
 26: 'shower snow',
 27: 'sky is clear',
 28: 'sleet',
 29: 'smoke',
 30: 'snow',
 31: 'thunderstorm',
 32: 'thunderstorm with drizzle',
 33: 'thunderstorm with heavy rain',
 34: 'thunderstorm with light drizzle',
 35: 'thunderstorm with light rain',
 36: 'thunderstorm with rain',
 37: 'very heavy rain'}

In [13]:
data['holiday'] = le.fit_transform(data['holiday'])
data['weather_main'] = le.fit_transform(data['weather_main'])
data['weather_description'] = le.fit_transform(data['weather_description'])

In [14]:
data.head()

   holiday    temp  rain_1h  ...  weather_main  weather_description  traffic_volume
0        7  288.28      0.0  ...             1                   24            5545
1        7  289.36      0.0  ...             1                    2            4516
2        7  289.58      0.0  ...             1                   19            4767
3        7  290.13      0.0  ...             1                   19            5026
4        7  291.14      0.0  ...             1                    2            4918

[5 rows x 11 columns]

In [29]:
data.to_csv('Metro-Interstate-Traffic-Volume-Encoded.csv',header=True,index=False)

In [16]:
stdscalar = StandardScaler()

In [17]:
data_stdscalar = stdscalar.fit_transform(data)

In [18]:
data_stdscalar = pd.DataFrame(data_stdscalar,columns=data.columns)

In [19]:
data_stdscalar.head()

    holiday      temp  ...  weather_description  traffic_volume
0  0.015856  0.552256  ...             0.831600        1.150159
1  0.015856  0.637205  ...            -1.621016        0.632251
2  0.015856  0.654509  ...             0.274187        0.758582
3  0.015856  0.697770  ...             0.274187        0.888940
4  0.015856  0.777214  ...            -1.621016        0.834582

[5 rows x 11 columns]

In [20]:
MinMax = MinMaxScaler()

In [21]:
data_MinMax = MinMax.fit_transform(data)

In [22]:

data_MinMax = pd.DataFrame(data_MinMax,columns=data.columns)

In [23]:
data_MinMax.head()

    holiday      temp  ...  weather_description  traffic_volume
0  0.636364  0.673215  ...             0.648649        0.761676
1  0.636364  0.689412  ...             0.054054        0.620330
2  0.636364  0.692711  ...             0.513514        0.654808
3  0.636364  0.700960  ...             0.513514        0.690385
4  0.636364  0.716107  ...             0.054054        0.675549

[5 rows x 11 columns]

In [24]:
Robust = RobustScaler()

In [25]:
data_Robust = Robust.fit_transform(data)

In [26]:
data_Robust = pd.DataFrame(data_Robust,columns=data.columns)

In [27]:
data_Robust.head()

   holiday      temp  ...  weather_description  traffic_volume
0      0.0  0.296753  ...             0.411765        0.578877
1      0.0  0.351726  ...            -0.882353        0.303743
2      0.0  0.362924  ...             0.117647        0.370856
3      0.0  0.390919  ...             0.117647        0.440107
4      0.0  0.442329  ...            -0.882353        0.411230

[5 rows x 11 columns]